{{#virtual-each
  height=height
  itemHeight=36
  scrollTimeout=scrollTimeout
  positionIndex=positionIndex
  items=items as |item index|
}}
  <div class="person-row">
    <div class="count">{{index}}</div>
    <img src={{item.picture}} />
    <div>
      <div>{{item.name.last}}, {{item.name.first}}</div>
      <div class="company">{{item.company}}</div>
    </div>
  </div>
{{else}}
  <strong>No results</strong>
{{/virtual-each}}
