{{#virtual-each
  items
  height=500
  itemHeight=36
  scrollTimeout=scrollTimeout
  positionIndex=positionIndex
  rowPadding=20
 as |item index|
}}
  <div class="person-row">
    <div class="count">{{index}}</div>
    <img src={{item.picture}} width="32" height="32" />
    <div>
      <div>{{item.name.last}}, {{item.name.first}}</div>
      <div class="company">{{item.company}}</div>
    </div>
  </div>
{{else}}
  <strong>No results</strong>
{{/virtual-each}}
