<div class="row">
  <span class="label">List Height:</span>
  <button {{action 'grow'}}>Increase</button>
  <button {{action 'shrink'}}>Decrease</button>
  <div class="row">
    {{numeric-input
      placeholder='Scroll Debounce Timeout (ms)'
      value=scrollTimeout
      oninput=(action 'setScrollTimeout')}}
  </div>
  <div class="row">
    {{numeric-input
      placeholder='Position index'
      value=positionIndex
      oninput=(action 'setPositionIndex')}}
  </div>
</div>

{{component componentName
  items=currentModel
  height=height
  positionIndex=positionIndex
  scrollTimeout=scrollTimeout}}
